# front-end:
# -allow a user to create a group
# -allow user to invite people to that group
# --via email given by user, send invite to email
# ---check if user has already been invited
# ---check if that user already exists via email 
# ---send email to invite person with invite
    # -if user doesnt exists yet, prompt to make account
    # -if user isnt logged in prompt to log in
    # -(new) user accepts the invite on click and goes to that group once logged in

# invites:
# -allow user to make a invite link for this group
# --if not logged in then promt to log in or to make an account
# -check if user is already in said group, if not add them, if they already are, notify them. either way go to group

# -make a colomn in a table to keep track of if a user is in a group of if a user is invited and pending

# -add invites section
# -allow user to accept and decline invites

# -allow any user to make a wislist 
# --allow user to add items to wishlist
# --allow user to delete items from wishlist
---wislist has to be links to store with commision, for now just a list of links, probably needs api call

# -make a roll system that makes the creator of the group the "owner"
# --allow "owner" to delete the group
# --allow "owner" to delete users

# -leave group button for user
# --to-discuss allow "owner" to make other users a "owner" aswell (approved by kris)
# -allow a owner to randomly assign a different users wishist to someone else

# make sure a user can only access wishlists and groups they are a part of   //seems correct for now

# homepage:
# -user should instantly be able to make a new group
# -if user is logged in, show their groups, allow user to open the group by clicking on items

# backend:
# -make table's for the groups and wishlists
# -make sure database tables get created when installing plugin
# -make sure it doesnt make multiple and dont check infinite times
# -a user needs to be able to make a wishlist whenever they want, couple a wishlist to a user
# -if a user makes group they then need to be able to couple one of their wishlists
# -connect the controls to the self made tables
# -store meta data in my own thing
# -make file sytem more OOP like so its easier to navigate
# - Custom post type maken genaamd "Groepen" 
# - Users kunnen gekoppeld worden aan zo'n groep 
# - Groepen moet de classic editor krijgen 

# -make an options menu
# --have multiple main colors
# --style the shortcodes
# -adding a item to a wishlist now checks if this item is already in the wishlist

# -make the email invites work 
# -make a page (like the acount page) with the groups, wishlists and such. accessable with a icon
-remove the connection to the woocommerse products and make it more dynamic